
/*background-image-----*/
body {
    background: url("../css/assets/gym/gym.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
   
/*-----CALLOUT REGION---*/

.navbar-text {
    color: rgb(165, 161, 161)
}

.jumbotron {
background: #444;
margin-bottom: 310px;
opacity: 0.9;
}


.jumbotron h1 {
    color: rgb(241, 238, 238);
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    font-family: 'Carter One', cursive, sans-serif;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron-terms {
    color: #fff;
    font-size: 20px;
}

.block-divider--GREY {
       color: #fff;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fff;
    }

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #ee3211;
    border-color: #fff;
    color: #fff;
}

    /*-----GYM facilities section---*/
 

.page-header {
    text-align: center;
    color: #d9534f;
    font-family: 'Permanent Marker', cursive, sans-serif;
}


.bottom {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.text-card {
    font-family: "Roboto",sans-serif;
}


/*----FOOTER---*/

.social-net-heading {
    color: #fff;
    font-size: 20x;
    margin-bottom: 10px;
}


.page-footer {
    background-color: #444;
}

.facebook-icon {
    color:#fff;
    font-size: 25px;
}

.twitter-icon {
    font-size: 25px;
    color:#fff;
}

.linkedin-icon {
    font-size: 25px;
    color:#fff;
}

.instagram-icon {
    font-size: 25px;
    color:#fff;
}

.facebook-icon:hover {
    transition: 0,7s;
    color: #ee3211;
}

.twitter-icon:hover {
    transition: 0,7s;
    color: #ee3211;
}

.linkedin-icon:hover {
    transition: 0,7s;
    color: #ee3211;
}

.instagram-icon:hover {
    transition: 0,7s;
    color: #ee3211;
}

footer {
    margin-top: 10px;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

.footer-link{
    color: #fff;
    font-size: 15x;
}

.footer-contact{
    color: #fff;
    font-size: 15x;
}

.heading-link-footer{
    color: #fff;
}

.about-us {
    font-size: 15x;
    color: #fff;
}

.about-us-text{
    color: #fff;
    font-size: 15x;
    font-family: sans-serif;
}

.details{
    color: #fff;
    font-size: 15x;
    font-family: sans-serif;
}

.membership-account-link{
    color: #fff;
}

.Become-a-PT-link{
    color: #fff;
}

.Gym-Locations-link{
    color: #fff;
}

.Contact-Us-link{
    color: #fff;
}

.copyright-logo-footer{
    color: #fff;
}

.membership-account-link:hover {
    transition: 0.5s;
    color: #ee3211;
}

.Become-a-PT-link:hover {
    transition: 0.5s;
    color: #ee3211;
}

.Gym-Locations-link:hover {
    transition: 0.5s;
    color: #ee3211;
}

.Contact-Us-link:hover {
    transition: 0.5s;
    color: #ee3211;
}

.copyright-logo-footer:hover {
    transition:0.5s;
    color: #ee3211;

}