
/*images-----*/
body{

    background: url("../css/assets/imgs/gym.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
   

/*---------NAVSTYLING------*/


/*-----CALLOUT REGION---*/


.jumbotron{

background: #444;
margin-bottom: 310px;
}

.jumbotron h1 {
    color: rgb(241, 238, 238);
    font-weight: bold;
    margin-bottom: 30px;
    color: white;

}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;

}

.block-divider--GREY{
    background-color: #444;

}
    .block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
    }


    /*-----GYM LIFE section---*/
 




